.create-form {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    }
    
    .create-form input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    background-color: aqua;
    }
    
    .create-form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    padding: 14px 20px;
    font-size: 30px;
    }
    
    .create-form button:hover {
    opacity: 0.8;
    }
    
    h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    
    padding: 10px;
    font-style: oblique;
    }

    .create-form input:hover {
        border: 1px solid #4CAF50;
    }

    body {
        background-color: rgb(216, 216, 216);
      }
      
