@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.main{
    background-color: #404258 ;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}


.cards {
   background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    overflow: hidden;
    margin: 20px;
}

  .all-items{
    background-color: #6B728E;
    text-align: center;
    width: 320px;
    height: 500px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
        box-shadow: rgba(50, 50, 93) 0px 70px 100px -40px, rgba(0, 0, 0, 0.3) 0px 50px 60px -50px, rgba(10, 37, 64, 0.35) 0px -4px 6px 0px inset;
    }
}

.listed-item-img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    &:hover {
        opacity: 0.7;
    }
}



.itemTitle{
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 200px;
    max-width: 300px;
    margin: 50px;
    font-family: 'Marcellus', serif;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    &:hover {
        color: #404258;
    }
}
