@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.main{
    background-color: #404258 ;
    width: 100%;
}


.cards {
   background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

  .all-items{
    background-color: #6B728E;
    text-align: center;
    width: 320px;
    height: 500px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
}

.listed-item-img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 5px;
}



.itemTitle{
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 200px;
    max-width: 300px;
    margin: 50px;
    font-family: 'Marcellus', serif;
    color: black;
    
}