.container{
    background-color: #50577A ;
}
.heading {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    
}

.heading h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.body {
    text-align: center;
    background-color:#404258 ;
    margin: 30px 0;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
}


button {

    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
    transform: scale(1);
}

button:hover {
    background-color: #006699;
    transform: scale(1.1);
    box-shadow: 2px 2px 3px #ccc;
}

.devTeam {
    background-color: #50577A;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.devTeam .entry {
    box-shadow: 1px 1px 1px #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.devTeam img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.devTeam img:hover {
    transform: scale(2);
    box-shadow: 2px 2px 3px #ccc;

}


.devTeam p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
}

.devTeam h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;

}

.body, .heading, .devTeam {
    margin-top: 0;
}