.card{
    text-align: center;
}

.pics{
    height: 400px;
    width: 400px;

}


.edit-eliminate{
    background-color:#404258 ;
    padding: 10px;
    margin: 5px;
}

.detailDescription{
    font-family:monospace;
}

.eliminate:hover{
    background-color:red;
    transition-duration: .4s;
}