.signIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signInForm{
display:flex;
flex-direction: column;
flex: wrap;
}

.signinSignUpButton{
align-self: flex-end;
}

.signinButton:hover{
    background-color: lightgreen;
    transition-duration: .4s;
}

.signInForm input {
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .signInForm label {
        font-size: 1.2rem;
        color: #404258;
    }



    .signInForm input[type="submit"]:hover {
        background-color: #3e8e41;
        cursor: pointer;
        align-items: center;
    }
}

.signInForm input[type="submit"] {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    margin: 10px auto;
    display: block;
}


