.signIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signInForm{
    display:flex;
    flex-direction: column;
}

.signinSignUpButton{
    align-self: flex-end;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
    margin-right: 5px;
}

.signinButton{
    margin: 5px;
}

.signinButton:hover{
    background-color: lightgreen;
    transition-duration: .4s;
}

.signInForm input {
    padding: 10px;
    margin: 5px;
}

.signInForm label {
    font-size: 1.2rem;
    color: #404258;
}

.signInForm input[type="submit"]:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

.signInForm input[type="submit"] {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    margin: 10px auto;
    display: block;
}


