@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


.listed-item-img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 5px;
}

.all-items{
    text-align: center;
    width: 320px;
    height: 500px;
    margin: 25px;
    background-color: rgba(60, 0, 0, .3);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
}

.itemTitle{
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100px;
    max-width: 300px;
    margin: 50px;
    font-family: 'Marcellus', serif;
    color: black;
    
}

