@media only screen and (max-width: 600px) {
  .navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
 
  
  }
  
  .navBarInfo {
  font-size: 1.2rem;
  color: #404258;
  padding: 10px;
  margin: 5px;
  }
  
  .authButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  }
  
  #signinButton, #signupButton {
  font-size: 1.2rem;
  color: #404258;
  padding: 10px;
  margin: 5px;
  }
  }
  
  .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #404258;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding:  0px;
  height: 8vh;
  
  }
  
  .navBarInfo {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: white;
  }
  
  .authButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  #signinButton, #signupButton {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  margin: 10px;
  }
  
  #signinButton:hover, #signupButton:hover {
  background-color: lightgreen;
  transition-duration: .4s;
  cursor: pointer;
  }