.whole{
display:flex;
flex-direction: column;
justify-content: center;
min-height: auto;
border-width: 5px;
background-color: bisque;
}

    .innerBanner{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border:solid black;
    margin: 5px;
    background-color: darkgray;
    }

        .closeButton{
            border: solid black;
            background-color: rgb(243, 117, 117);
            margin: 5px;
            border-radius: 10px;
        }

    .infoContainer{
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-between;
        border: solid black;
        width: fit-content;
        height: fit-content;
        margin:5px;
        background-color: darkgrey;
    }

    .displayDeets{
        order:1;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height:auto;
        width: auto;
    }

        .itemPic{
            order:1;
            border: solid black;
            min-width: 300px;
            min-height: 250px;
            margin:5px 0px 10px 5px;
            background-color: black;
            color: lightgray;
        }

        .pickupDeets{
            display:flex;
            flex-flow: wrap column;
            order:2;
            border: solid black;
            margin:0px 0px 10px 5px;
            min-width: 200px;
            min-height: 200px;
            height: fit-content;
            background-color: black;
            color: lightgray;
        }
        
    .buttonsContainer{
        order:2;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        
    }

        .itemDeets{
            order:1;
            border: solid black;
            min-width: 200px;
            min-height: 390px;
            margin:0px 5px 3px 5px;
            background-color: black;
            color: lightgray;
        }

        .iWantIt{
            order:2;
            border: solid black;
            margin:0px 5px 5px 5px;
        }

        .edit{
            order:3;
            border: solid black;
            margin:0px 5px 5px 5px;
        }

        .commentBox{
            border: solid black;
            background-color: black;
            color: lightgray;
        }
.commentsSection{
    order:3;
    display:flex;
    flex-direction: column;
    align-self: center;
    border: solid black;
    min-height: fit-content;
    min-width: fit-content;
    background-color: rgba(0, 0, 0, .5);
}

    .commentField{
        order: 1;
        width: 500px;
        height: 100px;
        color: white;
        font-size: x-large;
        background-color: rgba(0, 0, 0, .5);
    }

    .commentButton{
        order:2;
        font-size: x-large;
        min-width: 200px;
        align-self: center;
    }