.signUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpForm{
display:flex;
flex-direction: column;
}

.signupSignInButton{
align-self: flex-end;
color: black;
border-radius: 5px;
border: none;
font-size: 1.2em;
cursor: pointer;
transition-duration: .4s;
transform: scale(1);
margin-right: 5px;
}

.signupButton{
    margin: 5px;
    justify-self: center;
    align-self: center;
}

.signupButton:hover{
    background-color: lightgreen;
    transition-duration: .4s;
}

.signupInput{
    width: 300px;
    border-radius: 5px;
    padding: 2px;
}
